# Git files
.git
.gitignore

# Docker files
Dockerfile
docker-compose.yml
.dockerignore

# Jekyll build files
_site
.sass-cache
.jekyll-cache
.jekyll-metadata

# Dependencies
node_modules
vendor

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode
.idea
*.swp
*.swo

# Logs
*.log